*.orig
testdb2
apsw/*.pyd
TAGS
callgrind.out.*
:memory:
doc/vfs.rst
doc/example.rst
doc/example-*.rst
doc/cursor.rst
doc/connection.rst
doc/blob.rst
doc/backup.rst
doc/apsw.rst
doc/vtable.rst
doc/fts.rst
doc/session.rst
doc/typing.rstgen
doc/renames.rstgen
doc/docdb.json
*.pyc
testextension.*
testdbx-journal
testdbx
*~
*.so
*.o
*.gcno
*.gcda
*.gcov
build/
dist/
MANIFEST
MANIFEST.in.tmp
megatestresults/
testdb
/.coverage
/.coverage.*
/htmlcov/
apsw.egg-info
/.ropeproject/
/.mypy_cache/
/System Volume Informationm/
__pycache__/
setup.cfg
work/
.venv/
compile_commands.json
.vscode/

# configure detritus
sqlite3/configure/config.log
sqlite3/configure/Makefile
sqlite3/configure/sqlite3.pc
